.service {
    margin-top: 90px;
    display: flex;
    margin-bottom: 90px;
}
.service-bg  img {
    width: 100%;
    border-radius: 4px;
}
.service-coluna {
    text-align: center; 
    justify-content: center;
    align-items: start;
    margin-top: -30px;
}
.servico {
    padding: 20px;
    background-color: #EAEAEA;
    width: 350px;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.14);
    height: 243px;
    justify-content: center;
}
.servico-titulo h5 {
    font-size: 16px;
    font-weight: bold;
}
.servico-desc {
    text-align: center;
    min-height: 60px;
    padding-right:  10px;
    padding-left: 10px;
}
.servico-desc p {
    margin-top: 20px;
    font-size: 13px;
}
.serv-botao {
    margin-top: 60px;
    background-color: #181818;
    border-radius: 2px; 
    box-shadow: 0px 1px 3px rgba(0,0,0,0.14);
    margin-left: 30px;
    margin-right: 30px;
}
.serv-botao a {
    text-decoration: none;
    color: #EAEAEA;
    transition: 0.3s;    
}
.serv-botao a:hover {
    color: #FF9800;
}
.serv-botao p {
    padding: 5px;
    color: #FF9800;   
    font-weight: bold;
    font-size: 14px;
}


@media only screen and (max-width: 768px) {
    .service {
        margin-top: 90px;
    }
    .service-bg {
        display: none;
    }
    .service-coluna {
        background-color: #EAEAEA;
    }
    .servico {
        height: 160px;
        box-shadow: none;
    }
    .serv-botao {
        display: none;
    }
    .borda {
        border-top: 2px solid #181818;
    }
    .borda2 {
        border-bottom: 2px solid #181818;
    }
}