@import url('https://fonts.googleapis.com/css?family=Bungee+Shade&display=swap');

.bg1 {
    background-image: url(../assets/img/Fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}
.bg4 {
    background-image: url(../assets/img/bannerex.jpg);
}
.carousel .bg {
    max-width: 1920px;
    height: 600px;
    background-size:100% 100%;
-webkit-background-size: 100% 100%;
-o-background-size: 100% 100%;
-khtml-background-size: 100% 100%;
-moz-background-size: 100% 100%;
}
.thumbs-wrapper {
    display: none;
}
.bannercarrosel span {
    color: black !important;
}
.bg h3 {
    padding-top: 100px;
    font-family: 'NEON','Bungee Shade', cursive;
    color: #181818;
}
.bg1 p {
    color: white;
    margin: 20px;
}
.bannerprodutos {
    display: flex;
    justify-content: center;
}
.bannerprodutos img {
    max-width: 200px;
}
.letreiro img {
    max-width: 280px;
    margin: 20px;
}

@media only screen and (max-width: 1024px) {
    .bannerprodutos img {
        max-width: 180px;
    }
}
@media only screen and (max-width: 768px) {
    .carousel .bg {
        max-width: 768px;
        height: 220px;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .bg1 {
        max-width: 768px;
    }
    .bg2 {
        max-width: 768px;
    }
    .bg3 {
        max-width: 768px;
    }
    .bg4 {
        max-width: 768px;
    }
    .bg h3 {
        padding-top: 10px;
        font-size: 25px;
    }
    .bannerprodutos img {
        max-width: 100px;
    }
    .bg1 p {
        color: white;
        font-size: 10px;
        margin-top: 20px;
    }
    .letreiro img {
        max-width: 120px;
        margin: 20px;
    }
    .produtos2 {
        display: none;
    }
}