.fale-titulo {
    margin-top: 90px;
}
.fale-titulo h5 {
    font-family: Montserrat;
    font-weight: bold;
}
.faleconosco .local {
    margin-top: 10px;
}
.faleconosco .contato-titulo {
    font-family: Montserrat;
    font-weight: bold;
}
.faleconosco .sobre-tel img {
    margin-top: 3px;
    padding-right: 5px;
    width: 22px;
    height: 16px;
}
.faleconosco .sobre-email img {
    margin-top: 3px;
    padding-right: 5px;
    width: 22px;
    height: 16px;
}
.faleconosco .local-info img {
    padding-right: 5px;
    width: 22px;
    height: 16px;
    margin-top: 0px !important;
}
.faleconosco .sobre-wpps img {
    margin-top: 5px;
    padding-right: 5px;
    width: 26px;
    height: 20px;
}
.faleconosco a {
    text-decoration: none;
    color: #181818;
    font-size: 14px;
}
.faleconosco a:hover {
    color: #FF9800;
}
.faleconosco .local-info {
    font-size: 14px;
}





/* FORMULARIO CONTATO */
.area_formulario {
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    margin: auto;
    border-color: #181818;
    font-family: "Arial", Times, serif;  
    border-radius: 2px;
  }
  .formulario h1 {
    font-size: 16px;
    color: #fff;
    margin: auto;
    padding-bottom: 10px;
  }
  .form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
    justify-content: center;
  }
  
  .form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
  }
  
  .form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 150px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
  }
  
  .form-contact-button {
    width: 100%;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    background: #181818;
    display: block;
    border: none;
    border-bottom: 1px solid #181818;
    border-right: 1px solid #181818;
    transition: 1s;
  }
  .form-contact-button:hover {
    color: #FF9800;
  }
  .serv_title {
      margin-left: 30px;
  }
  .serv_title p {
      font-size: 16px;
      font-weight: bold;
  }

  @media only screen and (max-width: 768px) {
    .faleconosco .sobre-tel {
      justify-content: left;
    }
    .faleconosco .sobre-email {
      justify-content: left;
    }
    .faleconosco .sobre-wpps a {
      justify-content: left;
    }
  }
